@model G2_SC603_KN_Proyecto.Models.Anuncio

<h2>@Model.Titulo</h2>

<p>@Model.Mensaje</p>

<p><b>Fecha:</b> @Model.Fecha.ToString("dd/MM/yyyy HH:mm")</p>

<button onclick="window.print()">Imprimir</button>
