
@{
    Layout = "_Layout";
    var mensaje = ViewData["Notificacion"];
}

<div class="authentication-wrapper authentication-basic container-p-y">
    
    <div class="authentication-inner">
        <div class="card">
            <div class="card-body">

                @if (mensaje != null)
                {
                    <div class="alert alert-danger text-center" role="alert">
                        <i class="bx bx-error-circle me-2"></i>
                        <span>@mensaje</span>
                    </div>
                }
                <form asp-action="RegistrarClientes" asp-controller="Clientes" id="FormRegistroClientes" class="custom-form contact-form" role="form">
                    <div class="mb-3">
                        <label for="Cedula" class="form-label">Cédula</label>
                        <input type="text" id="Cedula" name="Cedula" class="form-control" placeholder="Cedula" required="" onkeyup="ConsultarNombre();">
                    </div>
                    <div class="mb-3">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="Correo" class="form-label">Correo</label>
                        <input type="text" id="Correo" name="Correo" class="form-control" placeholder="Correo" required="">
                    </div>
                    <div class="mb-3">
                        <label for="Telefono" class="form-label">Teléfono</label>
                        <input type="tel" id="Telefono" name="Telefono" class="form-control" placeholder="8888-8888" maxlength="8"
                               pattern="[0-9]{8}" required>
                    </div>
                    <div class="mb-3">
                        <label for="FechaInscripcion" class="form-label">Fecha de inscripción</label>
                        <input type="date" id="FechaInscripcion" name="FechaInscripcion" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="Direccion" class="form-label">Dirección</label>
                        <textarea id="Direccion" name="Direccion" class="form-control" rows="3" placeholder="Dirección exacta" required></textarea>
                    </div>

                    <button class="btn btn-dark d-grid w-100 form-control" type="submit">Registrar</button>

                </form>
            </div>
        </div>
        <a asp-controller="Clientes" asp-action="MostrarClientes" class="btn btn-dark d-grid w-100 form-control">Lista de Clientes</a>
    </div>
</div>

<script src="~/js/Registro.js"></script>