<h2>Notificaciones</h2>

<ul class="notificaciones">
    <li class="notif pago">
         Pago registrado correctamente – 08/04/2026
    </li>
    <li class="notif alerta">
         Membresía próxima a vencer – 10/04/2026
    </li>
    <li class="notif info">
         Nuevo entrenamiento publicado
    </li>
</ul>
``